*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkslategrey;
    position: relative;
    
}

video{
  width: 70%;
  height: 35%;
}


.header{
    min-height: 60vh;
    width: 100%;
    background-image: url(laptop2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header .text-bg p{
  text-align: center;
  color: yellowgreen;
}
nav{
  display: flex;  
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: skyblue;
}

nav a:hover{
  color: white;
}
a:hover{
  color: yellowgreen;
  cursor: pointer;
}
/* nav img{
    width: 100px;
    margin-top: -5px;
    height: 100px;
} */

.logo-wrapper{
  position: relative;
  height: 45px;
  width: 45px;
  overflow: hidden;
  margin-right: 10px;
}
nav img{
  position: absolute;
  left: -8px;
  top: -5px;
  height: 70px;
  width: 60px;
  background-size: auto;
}
.container i{
  position: absolute;
  right: 0;
  top: 10px;
}

/* .nav-links{
  flex: 1;
  text-align: right;
}
 */  
nav ul{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.nav a{
    list-style: none;
    text-decoration: none;
  }
  
  .nav li{
    list-style: none;
    text-decoration: none;
    display: inline-flex;
    padding: 0px;
    text-align: right;
  }

.nav-links ul li::after{
    transition: 0.5s;
    background: #f456f4;
    height: 3px;
}

.text-bg{
    width: 80%;
    color: #000;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-bg p{
    margin: 0px 0px 10px;
    font-size: 12px;
    color: green;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header a{
    text-decoration: none;
    text-align: justify;
    font-family: fantasy;
    color: rgb(16, 16, 222);
}

.grid{
  display: flex;
  flex-direction: column;
  width: 30%px;
  margin: 10px;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
 }
 
 .grid img{
  margin-bottom: 10px ;
  margin-top: 10px ;
 }
 .prog{
  display: grid;
  grid-template-columns:repeat(3, 2fr) ;
 }

footer{
    background-color: darkslategray;
    text-align: center;
/*     position: absolute; */
    margin-top: 0px;
    color: white;
    width: 100%;
    padding: 10px;
}


/* Styles for screens larger than 768px */
@media screen and (min-width: 768px) {
    body {
      font-size: 16px;
    }
  }
 
  @media screen and (max-width: 850px) {
    .prog{
      grid-template-columns:repeat(2, 3fr) ;
     }
  }
  /* Styles for screens smaller than 768px */
  @media screen and (max-width: 767px) {
    body {
      font-size: 14px;
    }
    .coding img{
      width: 80%;
     }
  }
  
  @media screen and (max-width: 480px) {
    body {
      font-size: smaller;
    }
    .coding img{
      width: 80%;
     }
     .prog{
      grid-template-columns:repeat(1, 6fr) ;
     }
  }
  